<div class="container">
    <div class="row" style="margin-bottom:2% ">
        <div class="col-sm"></div>
        <div class="col-sm">
            <h2 class="textCenter">MagicForioCup</h2>
            <h4 class="textCenter">2019-2020</h4>
        </div>
        <div class="col-sm"></div>
    </div>
    <div class="row" style="margin-bottom: 5% ">
            <div class="col-sm"></div>
            <div class="col-sm ">
                <img src="../../../assets/icons/logo.jpg" class="img-fluid logo center" alt="logo">
            </div>
            <div class="col-sm"></div>
        </div>
    <div class="row" style="margin-bottom: 3% ">
        <div class="col-sm"></div>
        <div class="col-sm ">
            <a href="user" class="removeAnchorStyle">
                <div class="card">
                    <h5 class="card-header">Fantallenatori</h5>
                    <div class="card-body">
                        <h5 class="card-title">Asta</h5>
                        <p class="card-text">Pagina dedicata per la scrittura della squadra durante l'asta</p>
                    </div>
                </div>
            </a>           
        </div>
        <div class="col-sm"></div>
    </div>
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm">
            <a href="admin" class="removeAnchorStyle">
                <div class="card">
                    <h5 class="card-header">Amministrazione</h5>
                    <div class="card-body">
                        <h5 class="card-title">Amministrazione</h5>
                        <p class="card-text">Pagina dedicata per i tool d'amministrazione</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm"></div>
    </div>
  </div>