<div class="container">
    <div class="row" style="margin-bottom:2% ">
        <div class="col-sm"></div>
        <div class="col-sm ">
                <div class="card">
                    <h4 class="card-header">Sezione Lega</h4>
                    <div class="card-body">
                        <h6 class="card-title" (click)="openAddChampshipModal()"> °Aggiungi un Campionato</h6>
                    </div>
                    
                </div>
        </div>
        <div class="col-sm"></div>
    </div>
    <div class="row" style="margin-bottom:2% ">
        <div class="col-sm"></div>
        <div class="col-sm ">
                <div class="card">
                        <h4 class="card-header">Sezione Squadre</h4>
                    <div class="card-body">
                        <h6 class="card-title" (click)="openAddTeamModal()">°Aggiungi una squadra</h6>
                    </div>
                </div>
        </div>
        <div class="col-sm"></div>
    </div>
</div>