<div class="container">
    <div class="row" style="margin-bottom:2% ">
        <div class="col-sm"></div>
        <div class="col-sm ">
                <div class="card">
                    <h4 class="card-header">Campionati</h4>
                    <div class="card-body">
                        <h6 class="card-title" (click)="open()"> °Aggiungi un Campionato</h6>
                    </div>
                    
                </div>
        </div>
        <div class="col-sm"></div>
    </div>
    <div class="row" style="margin-bottom:2% ">
        <div class="col-sm"></div>
        <div class="col-sm ">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Squadre</h5>
                        <p class="card-text">Crea una squadra</p>
                    </div>
                </div>
        </div>
        <div class="col-sm"></div>
    </div>
</div>